<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AltaPersonaServlet</servlet-name>
        <servlet-class>ar.com.KevinRios.java.servlet.AltaPersonaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarPersonasServlet</servlet-name>
        <servlet-class>ar.com.KevinRios.java.servlet.BuscarPersonasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarPersonasServlet</servlet-name>
        <servlet-class>ar.com.KevinRios.java.servlet.BorrarPersonasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AltaPersonaServlet</servlet-name>
        <url-pattern>/AltaPersonaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarPersonasServlet</servlet-name>
        <url-pattern>/BuscarPersonasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarPersonasServlet</servlet-name>
        <url-pattern>/BorrarPersonasServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
